<h2>New book</h2>

<%= form_with model: @book, url: books_path, method: :post do |f| %>

  <label>Title</label><br>
    <p><%= f.text_field :title %></p>

  <label>Opinion</label><br>
    <p><%= f.text_area :body %></p>

  <p><%= f.submit 'Create Book' %></p>
<% end %>